@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root
{
    --white: #f9f9f9;
    --green: #0c0c0c;
    --green-light: #fbffc3;
    --black: #fdfff7;
    --grey: #85888C;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
}

main
{
    padding: 20px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.header {
  background-color: var(--green);
  box-shadow: 1px 1px 5px 0px var(--grey);
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center; /* Centra horizontalmente */
  position: fixed; /* Si no está ya definido */
  z-index: 10000;
}

.logo {
  color: var(--white);
  font-size: 60px;
  display: inline-block;
}


.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--green);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    z-index: 1000000;
}

.menu a
{
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover
{
    background-color: var(--green-light);
}

.hamb
{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line 
{
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: transparent;
        color: var(--green-light)
    }

    .hamb
    {
        display: none;
    }
}

.card {
  width: 560px; /* Duplica el ancho */
  height: 560px; /* Duplica el alto */
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
  z-index: 1; 
}


.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #0d0d0d;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1; 
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
  z-index: 1; 
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #050505;
  top: 65%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  z-index: 1; 
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 395px;
  z-index: 1; 
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  z-index: 1; 
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
  z-index: 1; 
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #0a0100;
  transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color: #0c0c0c;
  border: none;
  border-radius: 30px; /* Aumenta el radio del borde para adaptarse al nuevo tamaño */
  font-size: 0.8rem; /* Aumenta el tamaño de la fuente */
  padding: 0.6rem 0.8rem; /* Aumenta el espacio interno del botón */
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}


.card .bottom .bottom-bottom .button:hover {
  background: #000000;
  color: white;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #000000;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas del mismo ancho */
  gap: 10px;
}

.columns-container {
  display: flex; /* Organiza los contenedores de las columnas en una fila */
}

.column {
  flex: 1; /* Hace que los contenedores de las columnas ocupen un espacio igual */
}


.button {
  display: inline-block;
  background-color: white;
  color: #0c0c0c;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  z-index: 10; /* Asegúrese de que sea mayor que los elementos subyacentes */
  position: relative; /* Esto es necesario para que z-index tenga efecto */
}

.button:hover {
  background-color: #000000;
  color: white;
}

.button:focus {
  box-shadow: 0 0 0 2px #555; /* Añade un borde de foco para accesibilidad */
}

.button:active {
  background-color: #333333;
}

